.homeCarouselItem {
    height: 480px;
}

.homeCarouselImage {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.homePlanAnalyicon {
    font-size: 50px;
    color: blue;
    border-radius: 50%;
    padding: 40px;

}

.homeDesignDevelopicon {
    font-size: 50px;
    color: brown;
    border-radius: 50%;
    padding: 40px;
}

.homeTestModifyicon {
    font-size: 50px;
    color: violet;
    border-radius: 50%;
    padding: 40px;
}

.homeMaintainSupporticon {
    font-size: 50px;
    color: darkgoldenrod;
    border-radius: 50%;
    padding: 40px;
}

.homeabout {
    width: 100%;
    height: 30%;
    background: lightgrey;
}

.homevideobg {
    width: 100%;
    height: 50%;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media (max-width: 767px){
    
}