#navbarSupportedContent ul {
  width: 600px;
  justify-content: space-between;
}

.login-btn {
  margin-top: 0px;
}

.sub-info {
  font-size: 12px;
  color: #4e5651;
  font-weight: bold;
  margin-top: -1rem;
}

@media (max-width: 767px) {
  #navbarSupportedContent ul {
    width: 175px;
    justify-content: space-between;
    margin: auto;
  }
  .login-btn {
    margin-top: 15px;
  }
}
